/* Modern styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #fff;
}

header {
    background-color: #000; /* Set the background color to black */
    color: #fff; /* Set the text color to white */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* Change font color to white */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc; /* Change text color to a lighter shade of gray on hover */
    text-decoration: underline; /* Add underline effect on hover */
}

section {
    padding: 40px;
}

footer {
    background-color: #000; /* Set the background color to black */
    color: #fff; /* Set the text color to white */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

.about-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: black;
}

.about-container p {
    text-align: justify;
    font-size: 16px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact ul li i {
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}

#certificates, #photo-album {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.certificate, .album-photo {
    margin: 0 10px 20px;
}

.certificate img, .album-photo img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #fff; /* Add border to both certificates and photos */
    transition: transform 0.3s ease;
}

.certificate img:hover, .album-photo img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

/* Portfolio images */
.project img {
    width: 200px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

.album-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add space between the images */
    flex-wrap: nowrap; /* Ensure all images stay on one line */
}
